@import "tailwindcss";

@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@layer base {
  :root {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
  }
}

@utility pb-safe {
  padding-bottom: var(--safe-area-inset-bottom, 0px);
}

@utility mb-safe {
  margin-bottom: var(--safe-area-inset-bottom, 0px);
}
